#svg
{
    width: 100vw;
    height: auto;
    overflow: visible;
}

html, body
{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    height: 100vh;
}

#red-path, #blue-path
{
    display: none;
}

.smoke
{
    fill: white;
    opacity: 0.4;
}


